body::-webkit-scrollbar{ width: 0 !important;}

*, :before, :after {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

input, select, button, textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  font: inherit;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: underline;
  -webkit-animation: hue 60s infinite linear;
}

  a:hover {
    color: #f35626;
  }

.modal, #customerForm {
  font: 100%/1.5 "Roboto", Verdana, sans-serif;

  color: #d4dcea;
  /*background-color: #000;*/
  /*background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAI0lEQVQIW2NkwAT/GdHE/gP5jMiCYAGQIpggXAAmiCIAEgQAAE4FBbECyZcAAAAASUVORK5CYII=) #222;*/
/*  color: #3d464d;
  background-color: #fff;
*/

  -webkit-font-smoothing: antialiased;
  /*width: 100%;*/

  overflow: hidden-x;

  /* Centering in The Unknown */
  /*text-align: center;*/
}


/* Animations */

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

/* DYK */

.ttshead {
  -webkit-animation: rotateInDownLeft 2s;
}

.ttshead.exit{
  -webkit-animation: fadeOutLeft 2s;
}

.qmarks {
  -webkit-animation: fadeInRight 2s;
}

.qmarks.exit{
  -webkit-animation: fadeOutRight 2s;
}

#dyktext.exit{
  -webkit-animation: fadeOutDown 2s;
}