body::-webkit-scrollbar{ width: 0 !important;}

*, :before, :after {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

input, select, button, textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  font: inherit;
  color: inherit;
}

.modal, #customerForm {
  font: 100%/1.5 "Roboto", Verdana, sans-serif;
  color: #d4dcea;
  -webkit-font-smoothing: antialiased;
  overflow: hidden-x;
}


/* Animations */

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

/* DYK */

.ttshead {
  -webkit-animation: rotateInDownLeft 1s;
}

.ttshead.exit{
  -webkit-animation: fadeOutLeft 1s;
}

.qmarks {
  -webkit-animation: fadeInRight 1s;
}

.qmarks.exit{
  -webkit-animation: fadeOutRight 1s;
}

#dyktext.exit{
  -webkit-animation: fadeOutDown 1s;
}